html {
  height: 100%;
  width: 100%;
  font-family: Arial;
}

.pageAbout {
  background-color: #26283b;
  color: white;
  text-align: center;
  padding: 10em;
  margin: -10em;
  padding-top: 10em;
  margin-top: -5em;
  height: 120vh;
}

.pageProjects {
  background-color: #323447;
  color: white;
  text-align: center;
  padding: 10em;
  margin: -10em;
  padding-top: 10em;
  margin-top: -5em;
  height: 120vh;
}

.pageContacts {
  background-color: #26283b;
  color: white;
  text-align: center;
  padding: 10em;
  margin: -10em;
  padding-top: 10em;
  margin-top: -5em;
  height: 120vh;
}

/* Headers / Titles */
.title {
  font-size: 5em;
  text-align: center;
  color: white;
  text-shadow: 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #0042a9, 0 0 20px #0042a9, 0 0 20px #0042a9, 0 0 20px #0042a9, 0 0 20px #0042a9;
}

.about {
  font-size: 1.5em;
}

/* Projects */
.projectCard {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  background-color: #26283b;
  border-radius: 0.25em;
  padding: 1em;
  width: 35%;
  margin: auto;
  margin-bottom: 2em;
}

.projectAbout {
  text-decoration: none;
  padding-top: 1.1em;
  margin-left: -1.1em;
  margin-right: -1.1em;
  border-top: 2px solid white;
}

.projectImage {
  text-decoration: none;
  width: 5em;
  height: 5em;
}

a {
  text-decoration: none;
}

/* Contact Links */
.link {
  text-decoration: none;
  color: white;
  font-size: 2em;
  border-radius: 0.25em;
  background-color: #323446;
  padding: 0.5em;
  margin-bottom: 2em;
  text-align: center;
  display: inline-block;
}
